<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/proveedor']">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Proveedores</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/producto']">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Productos</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/admin']">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Administradores</span>
      </a>
    </li>

    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/trabajador']">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Trabajadores</span>
      </a>
    </li>
  </ul>
</nav>
